<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create Your Story!</title>
      <link rel="stylesheet" href="~/css/styles.css" type="text/css" />
  </head>
  <body style="background-color:cyan;">
    <h3>Fill in the following words with your own choices</h1>
    <form action="/story" method="post">
     <label for="adj1">An adjective</label>
     <input id="adj1" name="adj1" type="text"><br>
     <label for="adj2">An adjective</label>
     <input id="adj2" name="adj2" type="text"><br>
     <label for="adj3">An adjective</label>
     <input id="adj3" name="adj3" type="text"><br>
     <label for="adj4">An adjective</label>
     <input id="adj4" name="adj4" type="text"><br>
     <label for="adj5">An adjective</label>
     <input id="adj5" name="adj5" type="text"><br>
     <label for="adj6">An adjective</label>
     <input id="adj6" name="adj6" type="text"><br>
     <label for="adj7">An adjective</label>
     <input id="adj7" name="adj7" type="text"><br>
     <label for="noun1">A noun</label>
     <input id="noun1" name="noun1" type="text"><br>
     <label for="noun2">A noun</label>
     <input id="noun2" name="noun2" type="text"><br>
     <label for="noun3">A noun</label>
     <input id="noun3" name="noun3" type="text"><br>
     <label for="noun4">A noun</label>
     <input id="noun4" name="noun4" type="text"><br>
     <label for="verb1">A verb ending in "-ing" </label>
     <input id="verb1" name="verb1" type="text"><br>
     <label for="verb2">A verb</label>
     <input id="verb2" name="verb2" type="text"><br>
     <label for="verb3">A verb</label>
     <input id="verb3" name="verb3" type="text"><br>
     <label for="verb4">A verb</label>
     <input id="verb4" name="verb4" type="text"><br>
     <button type="submit">See your mad lib!</button>
    </form>
  </body>
</html>